<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="com.osm2xp.gui.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Xplane 9 autogen Configuration"
            class="com.osm2xp.gui.perspectives.Xplane9ConfigurationPerspective"
            id="com.osm2xp.xplane9ConfigurationPerspective">
      </perspective>
      <perspective
            class="com.osm2xp.gui.perspectives.BuildPerspective"
            id="com.osm2xp.buildPerspective"
            name="Build">
      </perspective>
      <perspective
            class="com.osm2xp.gui.perspectives.FsxConfigurationPerspective"
            id="com.osm2xp.fsxConfigurationPerspective"
            name="Fsx scenery configuration">
      </perspective>
      <perspective
            class="com.osm2xp.gui.perspectives.WavefrontConfigurationPerspective"
            id="com.osm2xp.wavefrontConfigurationPerspective"
            name="Wavefront configuration">
      </perspective>
      <perspective
            class="com.osm2xp.gui.perspectives.StartupPerspective"
            id="com.osm2xp.startupPerspective"
            name="startup perspective">
      </perspective>
      <perspective
            class="com.osm2xp.gui.perspectives.Xplane9ConfigurationPerspective"
            id="com.osm2xp.xplane10ConfigurationPerspective"
            name="Xplane 10 autogen Configuration">
      </perspective>
      <perspective
            class="com.osm2xp.gui.perspectives.FlyLegacyConfigurationPerspective"
            id="com.osm2xp.flyLegacyConfigurationPerspective"
            name="Fly Legacy configuration">
      </perspective>
      <perspective
            class="com.osm2xp.gui.perspectives.OsmConfigurationPerspective"
            id="com.osm2xp.osmConfigurationPerspective"
            name="osm configuration">
      </perspective>
      <perspective
            class="com.osm2xp.gui.perspectives.ConsoleConfigurationPerspective"
            id="com.osm2xp.consoleConfigurationPerspective"
            name="console configuration">
      </perspective>
      <perspective
            class="com.osm2xp.gui.perspectives.FlightGearConfigurationPerspective"
            id="com.osm2xp.flightGearConfigurationPerspective"
            name="flight gear configuration">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="com.osm2xp.gui.views.MainSceneryFileView"
            id="com.osm2xp.viewSceneryTab"
            name="Scenery"
            restorable="true">
      </view>
      <view
            class="com.osm2xp.gui.views.XplaneBuildingsView"
            id="com.osm2xp.viewBuildingTab"
            name="Buildings"
            restorable="true">
      </view>
      <view
            class="com.osm2xp.gui.views.ViewContextualHelp"
            id="com.osm2xp.viewContextualHelp"
            name="osm2xp help"
            restorable="true">
      </view>
      <view
            class="com.osm2xp.gui.views.XplaneForestsView"
            id="com.osm2xp.viewForestsTab"
            name="Forests"
            restorable="true">
      </view>
      <view
            class="com.osm2xp.gui.views.Xplane3DObjectsView"
            id="com.osm2xp.viewObjectsTab"
            name="xplane 3D Objects"
            restorable="true">
      </view>
      <view
            class="com.osm2xp.gui.views.LastFilesView"
            id="com.osm2xp.viewLastFiles"
            name="last files"
            restorable="true">
      </view>
      <view
            class="com.osm2xp.gui.views.XplaneAdvancedOptionsView"
            id="com.osm2xp.Xplane9AdvancedOptionsView"
            name="X-plane 9 options"
            restorable="true">
      </view>
      <view
            class="com.osm2xp.gui.views.WavefrontAdvancedOptionsView"
            id="com.osm2xp.WavefrontAdvancedOptionsView"
            name="Wavefront options"
            restorable="true">
      </view>
      <view
            class="com.osm2xp.gui.views.Fsx3DObjectsView"
            id="com.osm2xp.viewFsxObjectsTab"
            name="objects"
            restorable="true">
      </view>
      <view
            class="com.osm2xp.gui.views.XplaneAdvancedOptionsView"
            id="com.osm2xp.Xplane10AdvancedOptionsView"
            name="X-plane 10 options"
            restorable="true">
      </view>
      <view
            class="com.osm2xp.gui.views.FsxAdvancedOptionsView"
            id="com.osm2xp.FsxAdvancedOptionsView"
            name="FSX options"
            restorable="true">
      </view>
      <view
            class="com.osm2xp.gui.views.FlyLegacyAdvancedOptionsView"
            id="com.osm2xp.FlyLegacyAdvancedOptionsView"
            name="Fly Legacy options"
            restorable="true">
      </view>
      <view
            class="com.osm2xp.gui.views.Osm2xpNewsView"
            id="com.osm2xp.viewOsm2xpNews"
            name="news"
            restorable="true">
      </view>
      <view
            class="com.osm2xp.gui.views.FlightGear3DObjectsView"
            id="com.osm2xp.viewFlightGearObjectsTab"
            name="FlightGear 3D Objects"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="com.osm2xp.xplane9ConfigurationPerspective">
         <view
               closeable="false"
               id="com.osm2xp.viewSceneryTab"
               minimized="false"
               relationship="top"
               relative="org.eclipse.ui.editorss"
               standalone="true">
         </view>
         <view
               closeable="false"
               id="com.osm2xp.viewBuildingTab"
               minimized="false"
               relationship="stack"
               relative="com.osm2xp.viewSceneryTab">
         </view>
         <view
               closeable="false"
               id="com.osm2xp.viewForestsTab"
               minimized="false"
               relationship="stack"
               relative="com.osm2xp.viewSceneryTab"
               showTitle="false">
         </view>
         <view
               id="com.osm2xp.viewObjectsTab"
               minimized="false"
               relationship="stack"
               relative="com.osm2xp.viewSceneryTab">
         </view>
         <view
               closeable="true"
               id="org.eclipse.help.ui.HelpView"
               minimized="false"
               ratio=".70f"
               relationship="right"
               relative="com.osm2xp.viewSceneryTab">
         </view>
         <view
               id="com.osm2xp.viewLastFiles"
               minimized="false"
               ratio="0.15f"
               relationship="left"
               relative="com.osm2xp.viewSceneryTab">
         </view>
         <view
               id="com.osm2xp.Xplane9AdvancedOptionsView"
               minimized="false"
               relationship="stack"
               relative="com.osm2xp.viewSceneryTab">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="com.osm2xp.buildPerspective">
         <view
               id="org.eclipse.ui.console.ConsoleView"
               minimized="false"
               moveable="true"
               ratio="0.75f"
               relationship="bottom"
               relative="org.eclipse.ui.editorss"
               standalone="true"
               visible="true">
         </view>
         <view
               id="biz.junginger.freemem.FreeMemView"
               minimized="false"
               moveable="true"
               ratio="0.60f"
               relationship="right"
               relative="org.eclipse.ui.console.ConsoleView">
         </view>
         <view
               id="org.eclipse.ui.views.ProgressView"
               minimized="false"
               ratio="0.80F"
               relationship="right"
               relative="org.eclipse.ui.editorss">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="com.osm2xp.fsxConfigurationPerspective">
         <view
               closeable="false"
               id="com.osm2xp.viewSceneryTab"
               minimized="false"
               relationship="top"
               relative="org.eclipse.ui.editorss"
               standalone="true">
         </view>
         <view
               closeable="true"
               id="org.eclipse.help.ui.HelpView"
               minimized="false"
               ratio=".70f"
               relationship="right"
               relative="com.osm2xp.viewSceneryTab">
         </view>
         <view
               id="com.osm2xp.viewLastFiles"
               minimized="false"
               ratio="0.15f"
               relationship="left"
               relative="com.osm2xp.viewSceneryTab">
         </view>
         <view
               id="com.osm2xp.viewFsxObjectsTab"
               minimized="false"
               relationship="stack"
               relative="com.osm2xp.viewSceneryTab">
         </view>
         <view
               id="com.osm2xp.FsxAdvancedOptionsView"
               minimized="false"
               relationship="stack"
               relative="com.osm2xp.viewSceneryTab">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="com.osm2xp.wavefrontConfigurationPerspective">
         <view
               closeable="false"
               id="com.osm2xp.viewSceneryTab"
               minimized="false"
               relationship="top"
               relative="org.eclipse.ui.editorss"
               standalone="true">
         </view>
         <view
               id="org.eclipse.ui.console.ConsoleView"
               minimized="false"
               moveable="true"
               ratio="0.75f"
               relationship="bottom"
               relative="com.osm2xp.viewSceneryTab"
               standalone="true"
               visible="true">
         </view>
         <view
               id="biz.junginger.freemem.FreeMemView"
               minimized="false"
               moveable="true"
               ratio="0.60f"
               relationship="stack"
               relative="org.eclipse.ui.console.ConsoleView">
         </view>
         <view
               closeable="true"
               id="org.eclipse.help.ui.HelpView"
               minimized="false"
               ratio=".70f"
               relationship="right"
               relative="com.osm2xp.viewSceneryTab">
         </view>
         <view
               id="com.osm2xp.viewLastFiles"
               minimized="false"
               ratio="0.15f"
               relationship="left"
               relative="com.osm2xp.viewSceneryTab">
         </view>
         <view
               id="com.osm2xp.WavefrontAdvancedOptionsView"
               minimized="false"
               relationship="stack"
               relative="com.osm2xp.viewSceneryTab">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="com.osm2xp.startupPerspective">
         <view
               id="com.osm2xp.viewOsm2xpNews"
               minimized="false"
               moveable="true"
               ratio="0.75f"
               relationship="stack"
               relative="org.eclipse.ui.editorss"
               standalone="true"
               visible="true">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="com.osm2xp.xplane10ConfigurationPerspective">
         <view
               closeable="false"
               id="com.osm2xp.viewSceneryTab"
               minimized="false"
               relationship="top"
               relative="org.eclipse.ui.editorss"
               standalone="true">
         </view>
         <view
               closeable="false"
               id="com.osm2xp.viewBuildingTab"
               minimized="false"
               relationship="stack"
               relative="com.osm2xp.viewSceneryTab">
         </view>
         <view
               closeable="false"
               id="com.osm2xp.viewForestsTab"
               minimized="false"
               relationship="stack"
               relative="com.osm2xp.viewSceneryTab"
               showTitle="false">
         </view>
         <view
               id="com.osm2xp.viewObjectsTab"
               minimized="false"
               relationship="stack"
               relative="com.osm2xp.viewSceneryTab">
         </view>
         <view
               closeable="true"
               id="org.eclipse.help.ui.HelpView"
               minimized="false"
               ratio=".70f"
               relationship="right"
               relative="com.osm2xp.viewSceneryTab">
         </view>
         <view
               id="com.osm2xp.viewLastFiles"
               minimized="false"
               ratio="0.15f"
               relationship="left"
               relative="com.osm2xp.viewSceneryTab">
         </view>
         <view
               id="com.osm2xp.Xplane10AdvancedOptionsView"
               minimized="false"
               relationship="stack"
               relative="com.osm2xp.viewSceneryTab">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="com.osm2xp.flyLegacyConfigurationPerspective">
         <view
               closeable="false"
               id="com.osm2xp.viewSceneryTab"
               minimized="false"
               relationship="top"
               relative="org.eclipse.ui.editorss"
               standalone="true">
         </view>
         <view
               closeable="true"
               id="org.eclipse.help.ui.HelpView"
               minimized="false"
               ratio=".70f"
               relationship="right"
               relative="com.osm2xp.viewSceneryTab">
         </view>
         <view
               id="com.osm2xp.viewLastFiles"
               minimized="false"
               ratio="0.15f"
               relationship="left"
               relative="com.osm2xp.viewSceneryTab">
         </view>
         <view
               id="com.osm2xp.FlyLegacyAdvancedOptionsView"
               minimized="false"
               relationship="stack"
               relative="com.osm2xp.viewSceneryTab">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="com.osm2xp.osmConfigurationPerspective">
         <view
               closeable="false"
               id="com.osm2xp.viewSceneryTab"
               minimized="false"
               relationship="top"
               relative="org.eclipse.ui.editorss"
               standalone="true">
         </view>
         <view
               closeable="true"
               id="org.eclipse.help.ui.HelpView"
               minimized="false"
               ratio=".70f"
               relationship="right"
               relative="com.osm2xp.viewSceneryTab">
         </view>
         <view
               id="com.osm2xp.viewLastFiles"
               minimized="false"
               ratio="0.15f"
               relationship="left"
               relative="com.osm2xp.viewSceneryTab">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="com.osm2xp.consoleConfigurationPerspective">
         <view
               closeable="false"
               id="com.osm2xp.viewSceneryTab"
               minimized="false"
               relationship="top"
               relative="org.eclipse.ui.editorss"
               standalone="true">
         </view>
         <view
               closeable="true"
               id="org.eclipse.help.ui.HelpView"
               minimized="false"
               ratio=".70f"
               relationship="right"
               relative="com.osm2xp.viewSceneryTab">
         </view>
         <view
               id="com.osm2xp.viewLastFiles"
               minimized="false"
               ratio="0.15f"
               relationship="left"
               relative="com.osm2xp.viewSceneryTab">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="com.osm2xp.flightGearConfigurationPerspective">
         <view
               closeable="false"
               id="com.osm2xp.viewSceneryTab"
               minimized="false"
               relationship="top"
               relative="org.eclipse.ui.editorss"
               standalone="true">
         </view>
         <view
               closeable="true"
               id="org.eclipse.help.ui.HelpView"
               minimized="false"
               ratio=".70f"
               relationship="right"
               relative="com.osm2xp.viewSceneryTab">
         </view>
         <view
               id="com.osm2xp.viewLastFiles"
               minimized="false"
               ratio="0.15f"
               relationship="left"
               relative="com.osm2xp.viewSceneryTab">
         </view>
         <view
               closeable="false"
               id="com.osm2xp.viewFlightGearObjectsTab"
               minimized="false"
               relationship="stack"
               relative="com.osm2xp.viewSceneryTab"
               standalone="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="osm2xp.toolbar.dropDownModes"
               label="Modes">
            <command
                  commandId="osm2xp.command.dropDownModes"
                  icon="images/toolbarsIcons/objects_32.png"
                  label="Modes"
                  style="pulldown">
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="osm2xp.toolbarMain">
            <command
                  commandId="osm2xp.command.buildScene"
                  icon="images/toolbarsIcons/build_32.png"
                  label="Build"
                  style="push"
                  tooltip="Build">
            </command>
            <command
                  commandId="osm2xp.command.importProject"
                  icon="images/toolbarsIcons/importProject_32.png"
                  label="import project"
                  style="push"
                  tooltip="import project">
            </command>
            <separator
                  name="osm2xp.separator"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.help.aboutAction"
                  icon="images/toolbarsIcons/info_32.png"
                  label="about"
                  style="push">
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="osm2xp.toolbar.dropDownTools"
               label="tools">
            <command
                  commandId="osm2xp.command.dropDownTools"
                  icon="images/toolbarsIcons/advanced_32.png"
                  label="Tools"
                  style="pulldown">
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:osm2xp.command.dropDownTools">
         <command
               commandId="osm2xp.command.facadeSetEditor"
               icon="images/toolbarsIcons/facadeSetEditor_32.png"
               label="Facade set editor"
               style="push">
         </command>
         <command
               commandId="osm2xp.command.loadRoofColorFile"
               icon="images/toolbarsIcons/alt_window_32.gif"
               label="Load roofs color file"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:osm2xp.command.dropDownModes">
         <command
               commandId="osm2xp.command.xplane10Mode"
               icon="images/toolbarsIcons/xplane10logo.jpg"
               label=" "
               style="push"
               tooltip="Xplane10 mode">
         </command>
         <command
               commandId="osm2xp.command.fsxMode"
               icon="images/toolbarsIcons/fsxLogo.jpg"
               label=" "
               style="push"
               tooltip="Fsx mode">
         </command>
         <command
               commandId="osm2xp.command.flyMode"
               icon="images/toolbarsIcons/flyLogo.jpg"
               label=" "
               style="push"
               tooltip="Fly!Legacy mode">
         </command>
         <command
               commandId="osm2xp.command.osmMode"
               icon="images/toolbarsIcons/osmLogo.jpg"
               label=" "
               style="push"
               tooltip="Osm mode">
         </command>
         <command
               commandId="osm2xp.command.consoleMode"
               icon="images/toolbarsIcons/consoleLogo.jpg"
               label=" "
               style="push"
               tooltip="Console mode">
         </command>
         <command
               commandId="osm2xp.command.flightGearMode"
               icon="images/toolbarsIcons/flightGear.png"
               label=" "
               style="push"
               tooltip="FLightGear mode">
         </command>
      </menuContribution>
   </extension>
   <extension
         id="osm2xp"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.osm2xp.application"
            name="Osm2xp">
         <property
               name="appName"
               value="Osm2xp">
         </property>
         <property
               name="startupProgressRect"
               value="5,275,445,15">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
         <property
               name="aboutText"
               value="Osm2xp 2.0.2, OpenStreetMap scenery generator for flight simulation.&#x0A;&#x0A;Copyright Benjamin Blanchet 2010-2012&#x0A;&#x0A;Contact : osm2xp@gmail.com&#x0A;Website : http://osm2xp.com&#x0A;&#x0A;this work is under Attribution-NonCommercial-NoDerivs 3.0 Unported licence (http://creativecommons.org/licenses/by-nc-nd/3.0/)&#x0A;&#x0A;You are free to Share ,to copy, distribute and transmit the work&#x0A;&#x0A;You must attribute the work in the manner specified by the author or licensor (but not in any way that suggests that they endorse you or your use of the work).&#x0A;You may not use this work for commercial purposes.&#x0A;You may not alter, transform, or build upon this work.&#x0A;&#x0A;&#x0A;FreeMem plugin by Markus junginger http://www.junginger.biz/eclipse/freemem.html&#x0A;Osm2world by Tobiass Knerr http://osm2world.org/&#x0A;Icons by Open Icon Library http://http://openiconlibrary.sourceforge.net/">
         </property>
         
      </product>
   </extension>
   <extension
         point="org.eclipse.help.toc">
     <toc file="tocTutorials.xml" />  
     <toc file="tocGettingStarted.xml" />
     <toc  file="tocReference.xml" />
     <toc
           file="toc.xml"
           primary="true">
     </toc>      
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="com.osm2xp.gui.handlers.CommandBuildScene"
            id="osm2xp.command.buildScene"
            name="buildScene">
      </command>
      <command
            defaultHandler="com.osm2xp.gui.handlers.CommandImportProject"
            id="osm2xp.command.importProject"
            name="importProject">
      </command>
      <command
            defaultHandler="com.osm2xp.gui.handlers.CommandFacadeSetEditor"
            id="osm2xp.command.facadeSetEditor"
            name="facadeSetEditor">
      </command>
      <command
            defaultHandler="com.osm2xp.gui.handlers.CommandDropDownTools"
            id="osm2xp.command.dropDownTools"
            name="tools">
      </command>
      <command
            defaultHandler="com.osm2xp.gui.handlers.CommandLoadRoofColorFile"
            id="osm2xp.command.loadRoofColorFile"
            name="loadRoofColorFile">
      </command>
      <command
            defaultHandler="com.osm2xp.gui.handlers.modes.CommandXplane10Mode"
            id="osm2xp.command.xplane10Mode"
            name="xplane10Mode">
      </command>
      <command
            defaultHandler="com.osm2xp.gui.handlers.modes.CommandDropDownModes"
            id="osm2xp.command.dropDownModes"
            name="modes">
      </command>
      <command
            defaultHandler="com.osm2xp.gui.handlers.modes.CommandFsxMode"
            id="osm2xp.command.fsxMode"
            name="fsxMode">
      </command>
      <command
            defaultHandler="com.osm2xp.gui.handlers.modes.CommandFlyLegacyMode"
            id="osm2xp.command.flyMode"
            name="flyMode">
      </command>
      <command
            defaultHandler="com.osm2xp.gui.handlers.modes.CommandOsmMode"
            id="osm2xp.command.osmMode"
            name="osmMode">
      </command>
      <command
            defaultHandler="com.osm2xp.gui.handlers.modes.CommandConsoleMode"
            id="osm2xp.command.consoleMode"
            name="consoleMode">
      </command>
      <command
            defaultHandler="com.osm2xp.gui.handlers.modes.CommandFlightGearMode"
            id="osm2xp.command.flightGearMode"
            name="flightGearMode">
      </command>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
 

</plugin>
